/* CSS for non table-specific stuff */

body.datagrid{
  font-family: Ubuntu, helvetica;
  color: #333;
  font-size: 16px;
}


body.datagrid h1{
  font-family: arial;
  font-size: 20px;
  color: #999999;
}

body.datagrid h2{
  font-family: arial;
  font-size: 17px;
  color: #002244;
}



button.query{
  float:left;
}


#header{
  background-color: #eeeeee;
}

#dtlsgridbg{
  border: 1px solid #cccccc;
  padding: 10px;
  background-color:#f4efdd;
}


/* For.dg_edit_buttons{
  width:95px;
} the delete and update buttons */

td.row_controls{
 padding: 1px !important;
 text-align:center;
 padding:auto;
}

.dg_edit_buttons input{
  margin: 3px;
  padding-right:5px;
  border: none;
  float: left;
  background: none;
  cursor: pointer;
}
input.update{
  font-size: 1.6em !important;
  color:#117;
}

input.delete{
  color:#711;

}

input.copy{
  color:#161;
}

input.update:hover{
  color: #39f;
}
input.delete:hover{
  color:red;
}
input.copy:hover{
 color:#0d0;
}


/* Table display styles */
td.dataheader, td.dataheadersort, td.childheader{
  padding: 0px;
  border-collapse: collapse;
  background-color: #eee;
  font-weight: bold;
  font-family: Ubuntu, hevetica, arial;
  text-align: center;
  border-right:1px solid #ddd;
  border-bottom: 2px solid #888;
  color: #666;
  vertical-align:center;
}

a.dataheader, a.dataheadersort, span.dataheader{
padding: 1px 3px 1px 3px;
text-decoration: none;
display: block;
}

a.dataheader, span.dataheader{
  color: #666;
}

a.dataheadersort{
  color: #ffffff;
}

td.dataheader:hover,a.dataheader:hover{
  background-color:#777;
  color: #ffffff;
}
td.dataheadersort{
  border-bottom: 2px solid #dd4814;
  background-color:#888;
  color: #ffffff;
}
span.data--header{
  padding: 1px 3px 1px 3px;
  display:block;
  color: #556699;
  font-family: arial;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color:#EBEADB;
  border-bottom: 2px solid #dd9933;
  border-collapse: collapse;
}
span.help{
  cursor: help;
  border-bottom: 1px dotted #44bb55;
}
table.datagrid{
  background-color: #ffffff;
  font-size: 13px;
  border-collapse: collapse;
  width: 100%;
}
td.datafield{
  padding: 3px 8px 3px 8px;
  border:1px solid #ddd;
  margin:0;
}

.datafield2{
  background-color: #eee;
}

tr.datafield1:hover, tr.datafield2:hover{
  background-color: #caf5cd;
  border: 1px solid black;
}


.odd_row{
background-color: #f0f0f0;
}
.even_row{
background-color: #fafafa;
}

.selected_row{
background-color: #bbeeee;
}

td.hidefield{
  padding: 0px;
  background-color: #bbb;
  border-right: 1px solid #ddd;
}

a.hidefield{
  font-family: Ubuntu, helvetica, arial;
  display: block;
  background-color: #bbb;
  color:#fff;
  border-collapse: collapse;
  padding: 2px;
  font-weight:bold;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  border-right: 1px solid #ddd;
  margin: 0;
  /*box-shadow: 0px 5px 5px 0px gray;*/
}



/* Update, edit, add form styles */
#edit_form input, #edit_form select, #edit_form textarea{
  background-color: #eeffee;
  border: 1px solid #999999;
  clear: right;
  margin-top: 0px;
  float:left;
}

#edit_form input{
  width: 400px;
}

#edit_form input[type=radio]{
  width: 20px;
}

#edit_form textarea{
  width: 400px;
  height:200px;
}

#edit_form button.dg_edit{
  margin-left: 20px;
  float:left;
  padding: 1px 15px 1px 15px;
}

#edit_form .label,#edit_form .readonly{
  display: block;
  margin-top: 0px;
  float: left;
}

#edit_form .label{
  width: 120px;
  clear: left;
}

#edit_form .maxlength{
  font-size: 11px;
  font-style: italic;
}

/* Shift the non-floated TinyMCE down to avoid covering the field label */
#edit_form .fielddiv .mce-tinymce{
  margin-top: 30px;
}

div.fielddiv{
  border: 1px solid #cccccc;
  margin: 5px;
  padding: 10px 5px 5px 5px;
}

div.fielddiv table{
float: left;
}

.edit_note{
  margin-left: 10px;
  font-family: arial;
  color: #777777;
  clear: right;
  float:left;
/*background-color: #efefef;*/
}


/* Display page forms: add, etc. */

form.update{
  display: inline;
}
.add_button{
  text-align: center;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background: #eeeeee;
}


input.dg_add {
  height: 33px;
  width: 90px;
  border-collapse: collapse;
  background: #aadcaa;
  padding: 5px 10px;
  border-radius: 8px;
  border:0;
  margin:auto;
  text-shadow: rgba(255,255,255,.4) 0 1px 0;
  color: black;
  font-size: 14px;
  text-decoration: none;
  vertical-align: middle;
}
input.dg_add:hover {
    border-top-color: #28597a;
    background: #5b5;
    color:white;
    box-shadow: 0 0 2px 2px #666;
}
input.dg_add:active {
    border-top-color: #1b435e;
    background: #1b435e;
    outline: 0;
}
.querybox{
  margin-top: 20px;
  background-color: #fcfcfc;
  border: 1px solid #cccccc;
  padding-left: 10px;
}

.hidden_field_control{
  margin-bottom: 20px;
}

.no_data{
  font-size: 19px;
  line-height: 25px;
  color: #999999;
  text-align: center;
  padding: 10px;
  border: 1px solid #cccccc;
  background-color: #eee;
}


#feedback{
  margin: 10px;
  color: #000000;
  font-size: 13px;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  border: 2px solid #aabbcc;
  background-color: #ccddee;
}

#feedback .error{
  background-color: orange;
  border: 2px solid red;
}

#feedback .notice{
  border: 2px solid #aabbcc;
  background-color: #ccddee;
}


.edit_child_cell_inactive{
  padding: 3 8 3 8px;
  cursor: pointer;
}

.edit_child_cell_active{
  padding: 3 8 3 8px;
  background-color: #8899aa;
  cursor: pointer;
}

#close_window_button{
  width: 100px;
  border: 1px solid #dd9988;
  background-color: #ffeedd;
  padding: 3px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #885555;
  cursor: pointer;
  text-align: center;
}

#close_window_button: hover{

}


/* THE ICON FONT */

@charset "UTF-8";

@font-face {
  font-family: "custom-icons";
  src:url("../fonts/custom-icons.eot");
  src:url("../fonts/custom-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/custom-icons.ttf") format("truetype"),
    url("../fonts/custom-icons.svg#custom-icons") format("svg"),
    url("../fonts/custom-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}


[class^="icon-"],
[class*=" icon-"],
.icon {
  font-family: "custom-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  font-size: 1.5em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}


@media print{


}

/* Search and paging tabs */

.control_tabs {
  margin-bottom: 10px;
}
.control_tabs li {
  list-style:none;
  float:left;
  margin-bottom: -1px;
}

.control_tabs ul{
padding-left: 0px;
}
.control_tabs ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  background:#eeeeee;
}
.control_tabs ul a:hover {
  color:#FFF;
  background:#111;
}
.control_tabs ul a.selected {
  margin-bottom:0;
  color:#000;
  background:#dedede;
  cursor:default;
}
.control_tabs div {
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-15px;
  clear:left;
  background:#dedede;
}
.control_tabs div a {
  color:#000;
  font-weight:bold;
}

form.search_form, form.paging_form{
  margin: 0px; padding: 0px;
}

#search_tab {}
#paging_tab a {}
#tabs3 { background:#FF9; }

input.search, select.search, input.paging{
  border: 0px;
  padding: 3px;
  margin: 0px 2px 0px 2px;
  background-color:#eeeeee;
}

div.download_button{
  margin:30px;
}
div.download_button a{
font-size: 19px;
padding: 10px;
border: 1px solid #bbbbbb;
text-decoration: none;
color: #777777;
background: #efefef;
}

div.download_button a:hover{
background-color: #aaaaff;
color:#ffffff;
}

.ajax-edit{
  min-height: 20px;
  position:relative;
}

.ajax-edit textarea, .ajax-edit input[type=text], .ajax-edit select{
  border: 0px none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.ajax-edit select option, .ajax-edit select{
  padding:8px;
}


/*
.icon-edit:before {
content: "a";
}

.icon-delete:before {
content: "b";
}

.icon-new:before {
content: "c";
}

.icon-search:before {
content: "d";
}
*/
